@media screen and (max-width:480px) {

    .sidebarrrr{
        display: flex;
        align-items: center;
        cursor: pointer;
    }
    
    
    .sidebarrrr >.MuiSvgIcon-root{
    
        padding: 20px;
    }
    
    .sidebarrrr:hover{
    
        background-color: #e8f5fe;
        border-radius: 30px;
    
        /*color:var(--twitter-color);
        */
        transition:color 100ms ease-out;
    
    }
    
    
    
    .sidebarrrr > h2{
    
    
        font-weight: 800;
        font-size: 20px;
        margin-right: 20px;
    }
    
    .sidebarrrr--active{
    
        color: var(--twitter-color  );
    }


    
}

.sidebarrrr{
    display: flex;
    align-items: center;
    cursor: pointer;
}


.sidebarrrr >.MuiSvgIcon-root{

    padding: 20px;
}

.sidebarrrr:hover{

    background-color: #e8f5fe;
    border-radius: 30px;

    /*color:var(--twitter-color);
    */
    transition:color 100ms ease-out;

}



.sidebarrrr > h2{


    font-weight: 800;
    font-size: 20px;
    margin-right: 20px;
}

.sidebarrrr--active{

    color: var(--twitter-color  );
}